[GLOBAL]
profile = Downstairs
protocol = udp
syslog = off
kill = off
verbose = 0

[Upstairs]
address = 10.0.0.101
port = 50000
mode = white

[Downstairs]
address = 10.0.0.102
port = 50000
mode = color
